.ui-btn {
  @apply text-sm font-semibold rounded-lg;
  &[type='button'] {
    @apply bg-gray-300;
  }
  &:disabled {
    opacity: 0.4;
  }
}
.ui-list hr {
  @apply w-full h-[3px] rounded border-none;
  background: linear-gradient(86.6deg, #ff0f87 -23.87%, #4612cc 124.07%),
    #c4c4c4;
}
.ui-list-marker div {
  @apply flex items-center gap-[20px];
  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 22px;
    background: linear-gradient(86.6deg, #ff0f87 -23.87%, #4612cc 124.07%),
      #c4c4c4;
  }
}

.ui-input {
  @apply text-sm;
  &.error {
    @apply bg-red-800;
  }
  input {
    @apply w-full h-full bg-transparent rounded border px-4 py-1 sm:py-3 mt-1 outline-none;
    &:focus::placeholder {
      opacity: 0;
    }
  }
}

/* Icon */
/* .icon-component {
    .size-normal {
        @apply w-3.5 h-3.5
    }
    .size-large {
        @apply w-5 h-5 xl:w-7 xl:h-7
    }
    .size-extra-large {
        @apply w-7 h-7 xl:w-10 xl:h-10
    }
} */

.tooltip-component {
}
